.container_194 {
	background-color: #434CCC;
	display: flex;
	width: 100%;
	height: 496px;
	border: 1px solid;
	.girl_194 {
		width: 40%;
		height: 100%;
	}
	.para_194 {
		width: 60%;
		height: 100%;
		.h4_194 {
			font-size: 26.5px;
			font-family: "DM serif";
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0;
			text-align: left;
			width: 670px;
			height: 107px;
			margin: auto;
			margin-top: 40px;
			color: white;
		}
		.h5_194 {
			width: 160px;
			height: 24px;
			font-family: "DM Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 33px;
			letter-spacing: 0.3em;
			text-align: left;
			margin-left: 92px;
			margin-top: 110px;
			color: white;
		}
		.span_194 {
			color: white;
			width: 125px;
			height: 32px;
			margin-left: 92px;
			margin-top: 183px;
			line-height: 46px;
			font-family: sans-serif;
			font-size: 20px;
			font-weight: 400;
		}
		.tag_194 {
			color: white;
			display: block;
			opacity: 50%;
			margin-left: 92px;
			line-height: 24px;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: 400;
		}
	}
}
#arrow_194 {
	width: 13px;
	height: 21px;
	margin: 206px auto 0 152px;
	position: relative;
}
#arrow_1942 {
	width: 13px;
	height: 21px;
	display: block;
	margin: 20px auto 0 152px;
	transform: rotate(-180deg);
	position: relative;
}
#Bitmap_194 {
	border-radius: 50%;
	overflow: hidden;
	margin-top: 106px;
}
.girl_194 {
	display: flex;
}
.arrow_194 {
	width: 50%;
	height: 100%;
}
.bitmap_194 {
	width: 50%;
	height: 100%;
}
