//surbhi- nav- bar
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #434CCC;
    font-family: DM Sans;
    padding: 0% 7%;
    box-sizing: border-box;

    nav{
        width: 100%;
        height: 15vh;
        display: flex;
        
        #logoContainer {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
    
            #mainLogo {
                width: 75%;
                height: 80%;
                border-radius: 50%;
            }
        }
        #navLinksContainer {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4%;
    
            a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-family: DM Sans;
            }
            button {
                background-color: #434CCC;
                padding: 13px 56px;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        #menuIcon{
            width: 20%;
            height: 20%;
            display: none;
            
        }
        #hideLinksContainer{
            background-color: #F1B505;
            top: 15vh;
            right: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            display: none;
    
            a{
                font-size: 25px;
            }
        }
    }
    section{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding-top: 2%;
        padding-bottom: 4%;
        text-align: center;

        h1{
            font-family: DM Serif Display;
            font-size: 72px;
            font-weight: 700;
            line-height: 80px; /* 111.111% */
            margin: 0;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            line-height: 32px; /* 160% */
            letter-spacing: 1px;
        }
    }    
}
@media screen and (min-width:100px) and (max-width:650px){

    nav {
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
           
        #logoContainer {
            width: 50%;
    
            #mainLogo {
                width: 45%;
                height: 70%;
            }
        }
    
        #navLinksContainer {
            display: none;
        }
        #menuIcon{
            width: 20%;
            height: 20%;
            transition: transform .2s;
            display: block;
            
        }
        #menuIcon:hover{
            transform: scale(1.5); 
        }
        #menuIcon:hover ~ #hideLinksContainer{
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }   
        #hideLinksContainer{
            width: 60%;
            height: 40vh;
            border-radius: 10px;
            a{
                font-size: 25px;
                text-decoration: none;
                color: black;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}
@media screen and (min-width: 100px) and (max-width: 650px) {
    footer {
        height: auto; 
        font-family: "DM-sans";

        .container {
            padding-top: 20px; 
            flex-direction: column; 
            height: auto; 
            margin-bottom: 20px;
        }

        .lastline {
            height: auto;
            font-size: 14px; 
            font-style: normal;
            line-height: 20px; 

            #leftline {
                margin-top: 10px; 
                margin-left: 15px; 
                margin-bottom: 10px; 
            }
            #rightline {
                margin-top: 10px; 
                margin-right: 15px; 
                margin-left: 0; 
            }
        }

        .logos {
            margin-left: 15px;
            margin-top: 20px; 

            .log {
                height: 20px; 
                width: 40px; 
            }

            .des {
                height: auto; 
                width: 100%; 
                margin-top:15px;
            }
        }

        .combi {
            flex-direction: row; 
            justify-content: start; 
            margin-left: 10px; 
            margin-top: 15px; 
        }
        .causae,
        .aperiri {
            width: 48%; 
        }
        .causae {
            margin-left: 10px; 
        }

        .aperiri {
            margin-left: 15px; 
        }

        .post {
            margin-left: 15px; 
            margin-top: 10px; 
        }

        .ti {
            font-weight: 700;
        }

        .post {
            flex-direction: column; 
            gap: 30px; 
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .picpost {
            display: flex;
            gap: 20px; 
        }

        .des {
            font-size: 14px; 
            line-height: 20px; 
        }

        .desc {
            height: auto; 
            width: 100%; 
        }

        .date {
            font-size: 12px; 
        }


        .lastline {
            height: auto; 
            width: 100%; 
            flex-direction: column; 
        }

        #leftline {
            margin-top: 10px; 
            margin-left: 15px; 
            margin-bottom: 10px; 
        }

        #rightline {
            margin-top: 10px; 
            margin-right: 15px; 
            margin-left: 25px; 
        }
    }
}