body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #434CCC;
  font-family: DM Sans;
  padding: 0% 7%;
  box-sizing: border-box;
}
header nav {
  width: 100%;
  height: 15vh;
  display: flex;
}
header nav #logoContainer {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}
header nav #logoContainer #mainLogo {
  width: 75%;
  height: 80%;
  border-radius: 50%;
}
header nav #navLinksContainer {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
}
header nav #navLinksContainer a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: DM Sans;
}
header nav #navLinksContainer button {
  background-color: #434CCC;
  padding: 13px 56px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
header nav #menuIcon {
  width: 20%;
  height: 20%;
  display: none;
}
header nav #hideLinksContainer {
  background-color: #F1B505;
  top: 15vh;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
header nav #hideLinksContainer a {
  font-size: 25px;
}
header section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 2%;
  padding-bottom: 4%;
  text-align: center;
}
header section h1 {
  font-family: DM Serif Display;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px; /* 111.111% */
  margin: 0;
}
header section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 1px;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  nav {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  nav #logoContainer {
    width: 50%;
  }
  nav #logoContainer #mainLogo {
    width: 45%;
    height: 70%;
  }
  nav #navLinksContainer {
    display: none;
  }
  nav #menuIcon {
    width: 20%;
    height: 20%;
    transition: transform 0.2s;
    display: block;
  }
  nav #menuIcon:hover {
    transform: scale(1.5);
  }
  nav #menuIcon:hover ~ #hideLinksContainer {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  nav #hideLinksContainer {
    width: 60%;
    height: 40vh;
    border-radius: 10px;
  }
  nav #hideLinksContainer a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
  }
}
footer {
  background-color: rgb(245, 246, 252);
  height: 400px;
  width: 100%;
  font-family: "DM-sans";
}
footer .soc {
  display: flex;
  gap: 13px;
}
footer .container {
  padding-top: 79px;
  display: flex;
  height: 320px;
  width: 100%;
}
footer .lastline {
  background-color: rgb(245, 246, 252);
  height: 80px;
  width: 100%;
  display: flex;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
footer .lastline #leftline {
  margin-top: 27px;
  margin-left: 135px;
  margin-bottom: 29px;
}
footer .lastline #rightline {
  margin-right: 135px;
  margin-top: 27px;
  margin-left: 787px;
}
footer .soc {
  margin-top: 18px;
}
footer .logos {
  margin-left: 135px;
  margin-top: 20px;
}
footer .logos .log {
  height: 32px;
  width: 62px;
}
footer .logos .des {
  height: 79px;
  width: 270px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .combi {
  display: flex;
}
footer .causae {
  margin-left: 105px;
}
footer .aperiri {
  margin-left: 140px;
}
footer .post {
  margin-left: 120px;
}
footer a {
  text-decoration: none;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
footer .ti {
  font-weight: 700;
}
footer .post {
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-top: 20px;
}
footer .picpost {
  display: flex;
  gap: 30px;
}
footer .des {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
footer .desc {
  height: 48px;
  width: 270px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
}
footer .date {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  footer {
    height: auto;
    font-family: "DM-sans";
  }
  footer .container {
    padding-top: 20px;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }
  footer .lastline {
    height: auto;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
  }
  footer .lastline #leftline {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  footer .lastline #rightline {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 0;
  }
  footer .logos {
    margin-left: 15px;
    margin-top: 20px;
  }
  footer .logos .log {
    height: 20px;
    width: 40px;
  }
  footer .logos .des {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  footer .combi {
    flex-direction: row;
    justify-content: start;
    margin-left: 10px;
    margin-top: 15px;
  }
  footer .causae,
  footer .aperiri {
    width: 48%;
  }
  footer .causae {
    margin-left: 10px;
  }
  footer .aperiri {
    margin-left: 15px;
  }
  footer .post {
    margin-left: 15px;
    margin-top: 10px;
  }
  footer .ti {
    font-weight: 700;
  }
  footer .post {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer .picpost {
    display: flex;
    gap: 20px;
  }
  footer .des {
    font-size: 14px;
    line-height: 20px;
  }
  footer .desc {
    height: auto;
    width: 100%;
  }
  footer .date {
    font-size: 12px;
  }
  footer .lastline {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  footer #leftline {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  footer #rightline {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 25px;
  }
}

/*# sourceMappingURL=contact.css.map */
