//surbhi- nav- bar
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #434CCC;
    font-family: DM Sans;
    padding: 0% 7%;
    box-sizing: border-box;
    height: fit-content;

    nav{
        width: 100%;
        height: 18vh;
        display: flex;
        
        #logoContainer {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
    
            #mainLogo {
                width: 75%;
                height: 75%;
                border-radius: 50%;
            }
        }
        #navLinksContainer {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4%;
    
            a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-family: DM Sans;
            }
            button {
                background-color: #434CCC;
                padding: 13px 56px;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        #menuIcon{
            width: 20%;
            height: 20%;
            display: none;
            
        }
        #hideLinksContainer{
            display: none;
        }
    }
    section{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding-top: 2%;
        padding-bottom: 4%;
        text-align: center;

        h1{
            font-family: DM Serif Display;
            font-size: 72px;
            font-weight: 700;
            line-height: 80px; /* 111.111% */
            margin: 0;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            line-height: 32px; /* 160% */
            letter-spacing: 1px;
        }
    }    
}

@media screen and (min-width:100px) and (max-width:650px){

   header{
    padding: 0%;
    nav {
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
           
        #logoContainer {
            width: 50%;
            padding-left: 7%;
    
            #mainLogo {
                width: 47%;
                height: 66%;
            }
        }
    
        #navLinksContainer {
            display: none;
        }
        #menuIcon{
            width: 20%;
            height: 20%;
            transition: transform .2s;
            display: block;
            padding-right: 3%;
            
        }
        #menuIcon:hover{
            transform: scale(1.5); 
        }
        #menuIcon:hover ~ #hideLinksContainer{
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }   
        #menuIcon:hover ~ #hideLinksContainer{
            display: block;
            border-radius: 10px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }   
        #hideLinksContainer{
            width: 50%;
            height: 30vh;
            right: 1vh;
            top: 15vh;
            position: absolute;
            display: none;
            background-color: white;

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgb(202, 200, 200);
                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: #0b18cc;
                    font-weight: 600;
                    cursor: pointer;
                }
            }   
        }
    }
   }

   section{
        padding: 10% 1% 5% 1%;
        h1{
            font-size: 35px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        p{
            font-size: 14px;
            letter-spacing: 0px;
        }
   }
}

//yellow container's styles
#yellow-3-Cont{
    width: 100%;
    height: 60vh;
    display: flex;
    font-family: DM Sans;
    background: #FFDD78;
    padding: 0% 7%;
    box-sizing: border-box;

    #headingCont{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5%;
        box-sizing: border-box;

        p{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 4.8px;
        }
        h2{
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px; /* 114.286% */
            margin-top: 2%;
        }
    }
    #inputCont{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        gap: 5%;

        input{
            padding: 3% 30% 3% 5%;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            letter-spacing: 1px;
        }

        button{
            padding: 3% 8%;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background: var(--Primary_1, #434CCC);
            font-size: 18px;
            font-weight: 600;
            color: white;
        }
    }
}

@media screen and (min-width:100px) and (max-width:650px){
    #yellow-3-Cont{
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0% 5%;
    
        #headingCont{
            width: 100%;
            height: fit-content;
            padding-top: 10%;

            h2{
                font-size: 40px;
                font-weight: 500;
            }
        }
        #inputCont{
            width: 100%;
            height: fit-content;
            flex-direction: column;
            align-items: flex-start;
            padding: 10% 0% 15% 0%;
    
            input{
                margin-bottom: 7%;
            }
        }
    }
        
}


footer {
    background-color: rgb(245, 246, 252);
    height: 400px;
    width: 100%;
    font-family: "DM-sans";



    .soc {
        display: flex;
        gap: 13px;
    }

    .container {
        padding-top: 79px;
        display: flex;
        height: 320px;
        width: 100%;

    }


    .lastline {
        background-color: rgb(245, 246, 252);
        height: 80px;
        width: 100%;
        // border:1px solid brown;
        display: flex;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));

        #leftline {
            margin-top: 27px;
            margin-left: 135px;
            margin-bottom: 29px;
        }

        #rightline {
            margin-right: 135px;
            margin-top: 27px;
            margin-left: 787px;

        }


    }



    .soc {
        margin-top: 18px;
    }

    .footer-col {
        flex-grow: 1;
    }


    .logos {
        flex-basis: 33.32%;
        margin-left: 135px;
        margin-top: 20px;

        .log {
            height: 32px;
            width: 62px;
        }

        .des {
            height: 79px;
            width: 270px;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

    }

    .causae {
        flex-basis: 16.66%;

    }

    .aperiri {
        flex-basis: 16.66%;
    }

    .post {
        flex-basis: 33.32%;
    }


    a {
        text-decoration: none;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        ;
    }

    .ti {
        font-weight: 700;
    }

    .post {
        display: flex;
        flex-direction: column;
        gap: 39px;
    }

    .picpost {
        display: flex;
        gap: 30px;
    }

    .des {
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
    }


    .desc {
        height: 48px;
        width: 270px;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        font-family: "DM Sans";
    }

    .desc {
        width: 270px;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        font-family: "DM Sans";
    }

    .date {
        font-family: "DM Sans";
        font-size: 12px;

        font-weight: 700;
        line-height: 24px;
    }
}


.date {
    font-family: "DM Sans";
    font-size: 12px;

    font-weight: 700;
    line-height: 24px;
}

