#topBannerAndNavBar {
    background-color: #434CCC;
    width: 1440px;
    height: 120vh;
    color: white;
    font-family: DM Sans;

    nav {
        width: 100%;
        height: 15vh;
        display: flex;

        #logoContainer {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;

            #mainLogo {
                width: 45%;
                height: 100%;
                margin-left: 120px;
            }
        }

        #navLinksContainer {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4%;
            padding-right: 135px;

            a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-family: DM Sans;
            }

            button {
                background-color: #434CCC;
                padding: 13px 56px;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    #surbhiTopBlueBanner {
        width: 100%;
        height: 105vh;
        display: flex;
        padding-left: 135px;
        padding-right: 135px;
        box-sizing: border-box;

        #topBannerContent {
            width: 40%;
            height: 100%;
            padding-top: 111px;

            #paraBeforeHeading {
                font-weight: 400;
                letter-spacing: 4.8px;
                font-size: 16px;
            }

            h1 {
                font-family: DM Serif Display;
                font-size: 72px;
                font-weight: 400;
                margin: 0;
            }

            div {
                width: 70%;
                height: fit-content;

                p {
                    font-size: 16px;
                    font-weight: 700;
                }

                button {
                    padding: 13px 55px;
                    background: var(--Primary_2, #F1B505);
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
        }

        #topBannerImg {
            width: 60%;
            height: 100%;

            img {
                width: 100%;
                height: 95%;
            }
        }

    }
}

// <!--------added by saumya----->
.aliquip {
    width: 1440px;
    height: 1328px;
    background-color: #f5f6fc;
    border: 1px solid white;
    direction: flex;
    flex-direction: column;

    // child 1
    .sam {
        .samhead1 {
            color: var(--Text_Black, #000);
            text-align: center;
            /* H5 */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            margin-top: 63px;
            // border: 1px solid black;
        }

        .samhead2 {
            color: var(--Text_Black, #000);
            text-align: center;

            /* H2 */
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            /* 114.286% */
            // border: 1px solid red;
            margin-top: 21px;
        }

        .samText_Big {
            color: var(--Text_Black, #000);
            text-align: center;

            /* Text_Big */
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 160% */
            margin-top: 29px;
            // border: 1px solid blue;
        }
    }

    // child 2
    .samcontent {
        display: grid;
        margin-top: 13px;
        margin-bottom: 117px;
        margin-left: 135px;
        margin-right: 135px;
        // border: 1px solid brown;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        // 1st div of img
        #somu1 {
            // border: 1px solid black;
            padding-left: 80px;
            #samimg1 {
                // border: 1px solid black;
                height: 456px;
                width:485px;
                // margin-right: 50px;
                // width:350px;
                margin-right:20px;
            }
        }

        // 2nd div
        #somu2 {
            padding-right:80px;
            // border:1px solid;
            .samhead {
                color: var(--Text_Black, #000);

                /* H3 */
                font-family: DM Serif Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
                margin-top: 97px;
                // border: 1px solid green;
                /* 120% */
                width: 323px;
                height: 96px;
                top: 1930px;
                left: 735px;

            }

            .samText_Grey {
                width: 470px;
                height: 75px;
                top: 2063px;
                left: 735px;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));

                /* Text_Gray */
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                margin-top: 27px;
                // border: 1px solid green;

            }

            .samText {
                color: var(--Text_Black, #000);

                /* Text */
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                /* 150% */
                margin-top: 37px;
                // border: 1px solid green;
                // width: 88px;
                height: 24px;
                top: 2175px;
                left: 735px;
                width:96px;

            }
        }


    }

    // 3rd div
    #somu3 {
        padding-left: 80px;
        .samhead {
            color: var(--Text_Black, #000);

            /* H3 */
            font-family: DM Serif Display;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
            /* 120% */
            width: 392px;
            height: 96px;
            top: 2410px;
            left: 235px;
            margin-top: 121px;
            // border: 1px red;

        }

        .samText_Grey {
            // width: 470px;
            height: 75px;
            top: 2543px;
            left: 235px;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            margin-top: 37px;
            // border: 1px red solid;
            
        }

        .samText {
            color: var(--Text_Black, #000);

            /* Text */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
            margin-top: 37px;
            // border: 1px red;
        }
    }
    // 4th div
    #somu4{
        padding-right:80px;
        // border:1px solid;
        #samimg2 {
            // border: 1px solid black;
            height: 456px;

            // margin-right: 50px;
            width:485px;
            margin-top:40px;
        }
    }
}