body {
    margin: 0;
    padding: 0;
}

//header top blue part
#topBannerAndNavBar {
    background-color: #434CCC;
    width: 100%;
    height: 120vh;
    color: white;
    font-family: DM Sans;
    padding: 0% 7%;
    box-sizing: border-box;

    nav {
        width: 100%;
        height: 15vh;
        display: flex;

        #logoContainer {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
    
            #mainLogo {
                width: 75%;
                height: 80%;
                border-radius: 50%;
            }
        }

        #navLinksContainer {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4%;

            a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-family: DM Sans;
            }

            button {
                background-color: #434CCC;
                padding: 13px 56px;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        #menuIcon{
            width: 20%;
            height: 20%;
            display: none;
            
        }

        #hideLinksContainer{
            background-color: rgb(223, 223, 48);
            top: 15vh;
            right: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            display: none;

            a{
                font-size: 25px;
            }
        }
    }

    #surbhiTopBlueBanner {
        width: 100%;
        height: 105vh;
        display: flex;
        box-sizing: border-box;

        #topBannerContent {
            width: 45%;
            height: 100%;
            padding-top: 5%;

            #paraBeforeHeading {
                font-weight: 400;
                letter-spacing: 4.8px;
                font-size: 16px;
            }

            h1 {
                font-family: DM Serif Display;
                font-size: 72px;
                font-weight: 400;
                margin: 0;
            }

            div {
                width: 70%;
                height: fit-content;

                p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 1px;
                }

                button {
                    padding: 13px 55px;
                    background: var(--Primary_2, #F1B505);
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
        }

        #topBannerImg {
            width: 55%;
            height: 100%;

            img {
                width: 100%;
                height: 95%;
            }
        }

    }
}
@media screen and (min-width:100px) and (max-width:650px) {
   
    #topBannerAndNavBar {
        padding: 0% 5%;
        width: 100%;
        height: fit-content;
        nav {
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
               
            #logoContainer {
                width: 50%;
        
                #mainLogo {
                    width: 45%;
                    height: 70%;
                }
            }
    
            #navLinksContainer {
                display: none;
            }
            #menuIcon{
                width: 20%;
                height: 20%;
                transition: transform .2s;
                display: block;
                
            }
            #menuIcon:hover{
                transform: scale(1.5); 
            }
            #menuIcon:hover ~ #hideLinksContainer{
                display: block;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }   
            #hideLinksContainer{
                width: 60%;
                height: 40vh;
                border-radius: 10px;
                a{
                    font-size: 25px;
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    
        #surbhiTopBlueBanner {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
    
            #topBannerContent {
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;
        
                #paraBeforeHeading {
                    font-size: 14px;
                    margin: 0;
                }
    
                h1 {
                    font-size: 56px;
                    margin: 0;
                }
    
                div {
                    width: 90%;
                    height: fit-content;
    
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                    }
    
                    button {
                        padding: 5% 15%;
                        font-size: 16px;
                        font-weight: 700;
                        margin-top: 10%;
                    }
                }
            }
    
            #topBannerImg {
                width: 100%;
                height: 40%;
                padding-top: 4%;
    
                img {
                    width: 98%;
                    height: fit-content;
                }
            }
    
        }
    }
}


.bot {
    height: 656px;
    width: 100%;
    background-color: #434CCC;
    display: flex;

    #location {
        height: 464px;
        width: 570px;
        position: relative;
        left: 115px;
        top: 100px;
    }

    .detail {
        position: relative;
        height: 464px;
        width: 569px;
        top: 100px;
        left: 200px;
    }

    .largeimage {
        height: 464px;
        width: 570px;
    }

    .smallimage {
        position: absolute;
        width: 72px;
        height: 72px;
        top: 44%;
        left: 46%;
    }


    #anc {
        height: 24px;
        width: 107px;
        font-family: 'DM Sans', sans-serif;

        color: #FFFFFF;
        size: 16px;
        line-height: 24px;
        letter-spacing: 30%;

    }

    #SC {
        font-family: 'DM Serif Display';
        width: 268px;
        line-height: 64px;
        font-size: 56px;
        color: white;
        margin-top: 21px;
        font-weight: 400;


    }


    #mail {
        height: 76px;
        width: 470px;
        margin-top: 24px;
    }

    #email {
        width: 100%;
        padding-bottom: 12px;
        padding-top: 15px;
        padding-left: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


    #msg {
        height: 124px;
        width: 470px;

    }

    #message {
        width: 480px;
        height: 96px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


    button {
        margin-top: 48px;
        height: 48px;
        width: 170px;
        color: white;
        background-color: #F1B505;
        font-family: 'DM Sans';
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        border: #F1B505;

    }

}

//kundan part
//Container2 Styling
.main_303 {
    width: 100%;
    height: 768px;
    margin: auto;
    background-color: #FFDD78;
    display: flex;
    flex-direction: column;
}
.H2_303 {
    //styleName: H2_303;
    width: 469px;
    height: 64px;
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.Text_Big_303 {
    //styleName: Text_Big_303;
    width: 570px;
    height: 83px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
}

.cards_303 {
    display: flex;
    width: 80%;
    height: auto;
    text-align: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 3%
}

.card_303 {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #0000004C;
    border-radius: 4px;
    margin: auto;
}

.image1_303 {
    width: 132px;
    height: 114px;
    margin-top: 64px;
    margin-bottom: 54px;
}

.H4_303 {
    //styleName: H4-303;
    width: 162px;
    height: 32px;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0%;
    margin-left: 30px;
    margin-bottom: 15px;
    color: black;
}

.Text_grey_303 {
    //styleName: Text_Gray;
    width: 306px;
    height: 48px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 32px;
    color: #00000080;
    margin-bottom: 25px;
}


.HR_303 {
    width: 338px;
    height: 1px;
    color: black;
    margin-left: 32px;
    opacity: 10.11%;
}

.material-symbols-outlined {
    width: 6px;
    height: 11px;
    position: relative;
    left: 85px;
    bottom: 22px;
    transform: rotate('-180deg');
}

.Text_303 {
    //styleName: Text_303;
    width: 88px;
    height: 24px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 32px;
}

.image2_303 {
    width: 186px;
    height: 96px;
    margin: 73px 100px 63px 84px;
}

.H4_2_303 {
    //styleName: H4_2_303;
    width: 158px;
    height: 32px;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0%;
    margin-left: 30px;
    margin-bottom: 15px;
    color: black;
}

.image3_303 {
    width: 144px;
    height: 126px;
    margin: 58px 105px 48px 121px;
}

.H4_3_303 {
    //styleName: H4_3_303;
    width: 175px;
    height: 32px;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0%;
    margin-left: 30px;
    margin-bottom: 15px;
    color: black;
}

@media screen and (min-width:100px) and (max-width:1300px) {
    .main_303 {
        min-width: 425px;
        height: 1632px;
    }

    .H2_303 {
        width: 335px;
        height: auto;
        //styleName: H3;
        font-family: 'DM Serif Display', serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 30px;

    }

    .Text_Big_303 {
        //styleName: Text_Big_303;
        width: 346px;
        height: auto;
        margin-bottom: 50px;
    }

    .cards_303 {
        gap: 16px;
        flex-direction: column;
    }

    .card_303 {
        width: 346px;
        height: auto;
        margin: auto;
    }

    .Text_grey_303 {
        width: 282px;
        height: auto;
    }
}

// saumya code
.aliquip {
    width: 100%;
    height: 1328px;
    background-color: #f5f6fc;
    border: 1px solid white;
    direction: flex;
    flex-wrap: wrap;
    flex-direction: column;

    // child 1
    .sam {
        .samhead1 {
            color: var(--Text_Black, #000);
            text-align: center;
            /* H5 */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            margin-top: 63px;
            // border: 1px solid black;
        }

        .samhead2 {
            color: var(--Text_Black, #000);
            text-align: center;

            /* H2 */
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            /* 114.286% */
            // border: 1px solid red;
            margin-top: 21px;
        }

        .samText_Big {
            color: var(--Text_Black, #000);
            text-align: center;

            /* Text_Big */
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 160% */
            margin-top: 29px;
            // border: 1px solid blue;
        }
    }

    // child 2
    .samcontent {
        display: grid;
        margin-top: 13px;
        margin-bottom: 117px;
        margin-left: 135px;
        margin-right: 135px;
        // border: 1px solid brown;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        // 1st div of img
        #somu1 {
            // border: 1px solid black;
            padding-left: 80px;

            #samimg1 {
                // border: 1px solid black;
                height: 456px;
                width: 485px;
                // margin-right: 50px;
                // width:350px;
                margin-right: 20px;
            }
        }

        // 2nd div
        #somu2 {
            padding-right: 80px;

            // border:1px solid;
            .samhead {
                color: var(--Text_Black, #000);

                /* H3 */
                font-family: DM Serif Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
                margin-top: 97px;
                // border: 1px solid green;
                /* 120% */
                width: 323px;
                height: 96px;
                top: 1930px;
                left: 735px;

            }

            .samText_Grey {
                width: 470px;
                height: 75px;
                top: 2063px;
                left: 735px;
                color: var(--text-black-50, rgba(0, 0, 0, 0.50));

                /* Text_Gray */
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                margin-top: 27px;
                // border: 1px solid green;

            }

            .samText {
                color: var(--Text_Black, #000);

                /* Text */
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                /* 150% */
                margin-top: 37px;
                // border: 1px solid green;
                // width: 88px;
                height: 24px;
                top: 2175px;
                left: 735px;
                width: 96px;

            }
        }


    }

    // 3rd div
    #somu3 {
        padding-left: 80px;

        .samhead {
            color: var(--Text_Black, #000);

            /* H3 */
            font-family: DM Serif Display;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
            /* 120% */
            width: 392px;
            height: 96px;
            top: 2410px;
            left: 235px;
            margin-top: 121px;
            // border: 1px red;

        }

        .samText_Grey {
            // width: 470px;
            height: 75px;
            top: 2543px;
            left: 235px;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            margin-top: 37px;
            // border: 1px red solid;

        }

        .samText {
            color: var(--Text_Black, #000);

            /* Text */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
            margin-top: 37px;
            // border: 1px red;
        }
    }

    // 4th div
    #somu4 {
        padding-right: 80px;

        // border:1px solid;
        #samimg2 {
            // border: 1px solid black;
            height: 456px;

            // margin-right: 50px;
            width: 485px;
            margin-top: 40px;
        }
    }
}
//saumya code for container 6
#scriptorem {
    width: 100%;
    height: 270vh;
    background-color: #f5f6fc;
    border: 1px solid white;
    direction: flex;
    flex-direction: column;

    // .revsmain,1st and 3rd child
    .revsmain2,.revsmain {
        .revshead {
            color: var(--Text_Black, #000);
            text-align: center;

            /* H5 */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
            margin-top: 63px;
        }

        .revshead2 {
            color: var(--Text_Black, #000);
            text-align: center;

            /* H2 */
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            /* 114.286% */
            margin-top: 21px;
        }

        .revsp {
            // width: 570px;
            // height: 83px;
            color: var(--Text_Black, #000);
            text-align: center;

            /* Text_Big */
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            margin-top: 20px;
            
        }
    }
    // 2nd child div
    .revsflexbox{
        display:flex;
        gap:30px;
        // width:100%;
        // border:1px solid red;
        height: 85vh;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 36px;
        // margin-right:135px;
        // margin-left:135px;
        margin-left:135px;
        margin-right:135px;
        box-sizing: border-box;
        >div{
            // width: 370px;
            height: 79vh;
            border-radius: 5px;
background: #FFF;

box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);

            // border:1px solid black;
            // width: 370px;
            // padding:23px 23px 0px 23px;
            background-color: white;
            img {
                    // padding:23px;
                    width: 285px;
                    height: 285px;
                    // border: 1px solid black;
                    padding: 23px;
                    border-radius: 50%;
                }
                         h4 {
                             color: var(--Text_Black, #000);
                             padding-left: 23px;
                             /* H4 */
                             font-family: DM Serif Display;
                             font-size: 24px;
                             font-style: normal;
                             font-weight: 400;
                             line-height: 32px;
                             /* 133.333% */
                             margin-top: 0px;
                          }
                        hr {
                            // width: 338px;
                            // height: 1px;
                            margin-left: 23px;
                            color: #e5e5e5;
                        }
            >div{
                display:flex;
                justify-content: space-between;
                margin-left:23px;
                // margin-right: 23px;
                // border:1px solid black;
                margin-right: 15px;
                margin-top:0;
                p {
                 
                        /* Text_Gray */
                        font-family: DM Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        
                    }
                  img {
                                                            
                       width: 65px;
                       height: 28px;
                    //    border:1px solid green; 
                       margin-top:-8px;
                    
                       margin-top: -8px;
                       padding-right: 0px;
                       }
                        
                    
               
                }

            }
            
           }
           //4th child grid{
            .revsgrid{
                display:grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(3,1fr);
                gap:24px 22px;
                margin-left:135px;
                margin-right:135px;
                margin-top: 52px;;
                >div{
                    width: 340px;
height: 144px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
display:flex;
img{
    // margin:24px 25px 63px 32px;
    margin: 32px 22px 63px 23px;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    width: 43px;
height: 49px;
}
.revsheadgrid{
    color: var(--Text_Black, #000);

/* H4 */
font-family: DM Serif Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */

margin-top: 22px;
}
.revspgrid{
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));

/* Text_Gray */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
color: var(--text-black-50, rgba(0, 0, 0, 0.50));
margin-right: 28px;
/* Text_Gray */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: -24px;
}
                }
            }
          
    }

//Surbhi-second-container

#molestiae-section {
    width: 100%;
    height: 335vh;
    position: relative;
    font-family: DM Sans;

    #blueContainer {
        width: 100%;
        height: 115vh;
        background-color: #434CCC;
        display: flex;
        justify-content: center;

        div {
            color: white;
            width: 38%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            #head-molestie {
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 4.8px;
            }

            #heading-h2 {
                font-family: DM Serif Display;
                font-size: 56px;
                font-weight: 400;
                margin: 0;
            }

            #para {
                font-size: 20px;
                font-weight: 400;
            }
        }

    }

    #whiteContainer {
        width: 100%;
        height: 220vh;
        padding-left: 7%;
        padding-right: 7%;
        box-sizing: border-box;

        #overlapingImgContainer {
            height: 230vh;
            width: 86%;
            top: 60vh;
            position: absolute;

            #gridContainers {
                height: 140vh;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 2%;
                grid-column-gap: 2%;

                p {
                    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                    font-size: 16px;
                    font-weight: 400;
                }

                h4 {
                    color: var(--Text_White, #FFF);
                    font-family: DM Serif Display;
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 0;
                }

                h2 {
                    color: var(--Text_White, #FFF);
                    font-family: DM Serif Display;
                    font-size: 56px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 6%;
                }

                #yellowBackGroundCont {
                    border-radius: 5px;
                    background: url("./bigger-yellow-back-img.png"), lightgray 0px 0px / 100% 100% no-repeat;
                    background-size: cover;
                    grid-area: 1/1/2/3;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 8%;

                    div {
                        height: 50%;
                        width: 38%;
                        box-sizing: border-box;

                        button {
                            padding: 2% 6%;
                            background-color: #F1B505;
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 700;
                            border: 1px solid white;
                        }
                    }
                }

                #pinkBackGroundCont {
                    border-radius: 5px;
                    background: url("./pink-background-img.png"), lightgray 0px 0px / 100% 100% no-repeat;
                    padding-left: 12%;
                    padding-top: 10%;
                    background-size: cover;
                }

                .innerContentCont {
                    height: fit-content;
                    width: 30%;

                    button {
                        padding: 5% 10%;
                        color: white;
                        font-size: 16px;
                        font-weight: 900;
                        cursor: pointer;
                        border: 1px solid white;
                        background-color: transparent;
                    }
                }

                #skyblueBackGroundCont {
                    border-radius: 5px;
                    background: url("./skyblue-background-img.png"), lightgray 0px 0px / 100% 100% no-repeat;
                    padding-left: 12%;
                    padding-top: 10%;
                    background-size: cover;
                }
            }

            #buttonContainer {
                height: 30vh;
                width: 100%;
                text-align: center;
                padding-top: 5%;

                button {
                    color: #434CCC;
                    text-align: center;
                    font-family: DM Sans;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 13px 49px;
                }
            }

            #sec-Img-Content-Container {
                width: 100%;
                height: 80vh;
                display: flex;

                #imgContainer {
                    width: 50%;
                    height: 100%;
                    img {
                        width: 90%;
                        height: 100%;
                    }
                }

                #contentContainer {
                    width: 50%;
                    height: 100%;

                    #headingContainer {
                        height: 60%;
                        width: 100%;
                        box-sizing: border-box;

                        h3 {
                            font-family: DM Serif Display;
                            font-size: 56px;
                            font-weight: 400;
                            margin-top: 0;
                            margin-bottom: 8%;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                        }
                    }

                    #cardContainer {
                        height: 40%;
                        width: 100%;
                        display: flex;
                        box-sizing: border-box;

                        h4 {
                            font-family: DM Serif Display;
                            font-size: 24px;
                            font-weight: 400;
                            margin-bottom: 0;
                        }

                        p {
                            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: 7%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:100px) and (max-width:650px) {
    #molestiae-section {
        width: 100%;
        height: 425vh;
    
        #blueContainer {
            height: 100vh;

            div {
                width: 70%;
                height: 40vh;
    
                #heading-h2 {
                    font-size: 40px;
                }
            }
        }
        #whiteContainer {
            width: 100%;
            height: 325vh;
            padding: 0% 5%;

            #overlapingImgContainer {
                height: 385vh;
                width: 90%;
                top: 40vh;
        
                #gridContainers {
                    height: 220vh;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-row-gap: 1%;

                    h4{
                        font-size: 28px;
                    }
    
                    h2 {
                        font-size: 40px;
                    }
    
                    #yellowBackGroundCont {
                        background: url("./yellow-background-img.png"), lightgray 0px 0px / 100% 100%;
                        background-size: cover;
                        grid-area: 1/1/2/2;
                        justify-content: center;
                        align-items: flex-start;
                        padding-left: 0%;
                        padding-top: 8%;
    
                        div {
                            height: 70%;
                            width: 80%;
    
                            button {
                                padding: 3% 10%;
                            }
                        }
                    }
    
                    #pinkBackGroundCont {
                        background: url("./small-pink-background-img.png"), lightgray 0px 0px / 100% 100% no-repeat;
                        background-size: cover;
                    }
    
                    .innerContentCont {
                        height: fit-content;
                        width: 32%;
    
                    }
    
                    #skyblueBackGroundCont {
                        background: url("./small-skyblue-background-img.png"), lightgray 0px 0px / 100% 100% no-repeat;
                        background-size: cover;
                    }
                }
    
                #buttonContainer {
                    height: 22vh;
                    padding-top: 15%;
                    box-sizing: border-box;
                }
    
                #sec-Img-Content-Container {
                    width: 100%;
                    height: 140vh;
                    display: flex;
                    flex-direction: column;
    
                    #imgContainer {
                        height: 60vh;
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
    
                    #contentContainer {
                        height: 80vh;
                        width: 100%;
                        padding: 0% 7%;
                        box-sizing: border-box;

                        #headingContainer {
                            width: 90%;
                            height: 40%;
                            box-sizing: border-box;
                            padding-top: 10%;
                            
                            h3 {
                                font-size: 40px;
                                line-height: 48px; 
                            }
                            p{
                                line-height: 32px;
                                text-align: justify;
                            }
                        }
    
                        #cardContainer {
                            height: 60%;
                            width: 90%;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

//div7 dicta omnes
.container_194 {
    background-color: #434CCC;
    display: flex;
    width: 100%;
    height: 80vh;
    border: 1px solid;

    .girl_194 {
        width: 40%;
        height: 100%;
    }

    .para_194 {
        width: 60%;
        height: 100%;

        .h4_194 {
            font-size: 26.5px;
            font-family: "DM serif";
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0;
            text-align: left;
            width: 670px;
            height: 107px;
            margin: auto;
            margin-top: 40px;
            margin-left: 92px;
            color: white;
        }

        .h5_194 {
            width: 160px;
            height: 24px;
            font-family: "DM Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.3em;
            text-align: left;
            margin-left: 92px;
            margin-top: 110px;
            color: white;
        }

        .span_194 {
            color: white;
            width: 125px;
            height: 32px;
            margin-left: 92px;
            margin-top: 183px;
            line-height: 46px;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 400;
        }

        .tag_194 {
            color: white;
            display: block;
            opacity: 50%;
            margin-left: 92px;
            line-height: 24px;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: 400;
        }
    }
}

#arrow_194 {
    width: 13px;
    height: 21px;
    margin: 206px auto 0 152px;
    position: relative;
}

#arrow_1942 {
    width: 13px;
    height: 21px;
    display: block;
    margin: 20px auto 0 152px;
    transform: rotate(-180deg);
    position: relative;
}

#Bitmap_194 {
    border-radius: 50%;
    overflow: hidden;
    margin-top: 106px;
}

.girl_194 {
    display: flex;
}

.arrow_194 {
    width: 50%;
    height: 100%;
}

.bitmap_194 {
    width: 50%;
    height: 100%;
}


//Surbhi's third container

#novumContainer {

    width: 100%;
    height: 185vh;
    padding: 0% 7%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    font-family: DM Sans;

    #firstInnerCont {
        width: 100%;
        height: 110vh;

        #firstContsOuterAlignCont {
            width: 100%;
            height: 75%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 3%;

            #headingAndParaCont,
            #buttonCont {
                width: 100%;
                height: 30%;
                box-sizing: border-box;
            }

            #headingAndParaCont {
                padding-top: 6%;

                h5 {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 4.8px;
                    margin-bottom: 0;
                }

                h2 {
                    font-family: DM Serif Display;
                    font-size: 50px;
                    font-weight: 400;
                    margin: 0;
                }
            }

            #buttonCont {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                button {
                    border-radius: 5px;
                    border: 1px solid var(--Primary_1, #434CCC);
                    padding: 2% 5%;
                    color: #434CCC;
                    font-size: 16px;
                    font-weight: 700;
                    cursor: pointer;
                    margin-top: 4%;
                }
            }

            .cards {
                width: 100%;
                height: 70%;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                border: 1px solid white;

                .cardImgCont {
                    height: 60%;
                    width: 90%;
                    margin-left: 5%;
                    margin-top: 5%;

                    img {
                        width: 100%;
                        height: 90%;
                    }
                }

                .cardContentCont {
                    height: 35%;
                    width: 100%;
                    padding-left: 5%;
                    box-sizing: border-box;

                    p {
                        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 3%;
                        margin-top: 0px;
                    }

                    h4 {
                        font-family: DM Serif Display;
                        font-size: 24px;
                        font-weight: 400;
                        margin-top: 0;
                        margin-bottom: 4%;
                    }

                    .horizontal-partition-container {
                        border-top: 1px solid rgb(180, 180, 180);
                        height: 30%;
                        display: flex;
                        align-items: flex-end;

                        a {
                            color: var(--Text_Black, #000);
                            font-size: 16px;
                            font-weight: 700;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

    }

    #secInnerCont {
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #secContOuterAlignCont {
            width: 100%;
            height: 52%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 2%;

            #contentCont {
                h5 {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 4.8px;
                }

                h4 {
                    font-family: DM Serif Display;
                    font-size: 22px;
                    font-weight: 400;
                }

                #cameraIcon {
                    padding: 3% 2% 1% 2%;
                    border: 1px solid rgb(79, 79, 160);
                    border-radius: 5px;
                }

                #graySpan {
                    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            div {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

                .img-imgContent {
                    width: fit-content;
                    height: fit-content;
                }
            }
        }
    }

}


//footer Styling
footer {
    background-color: rgb(245, 246, 252);
    height: 400px;
    width: 100%;
    font-family: "DM-sans";



    .soc {
        display: flex;
        gap: 13px;
    }

    .container {
        padding-top: 79px;
        display: flex;
        height: 320px;
        width: 100%;

    }


    .lastline {
        background-color: rgb(245, 246, 252);
        height: 80px;
        width: 100%;
        // border:1px solid brown;
        display: flex;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));

        #leftline {
            margin-top: 27px;
            margin-left: 135px;
            margin-bottom: 29px;
        }

        #rightline {
            margin-right: 135px;
            margin-top: 27px;
            margin-left: 787px;

        }


    }



    .soc {
        margin-top: 18px;
    }

    .footer-col {
        flex-grow: 1;
    }


    .logos {
        flex-basis: 33.32%;
        margin-left: 135px;
        margin-top: 20px;

        .log {
            height: 32px;
            width: 62px;
        }

        .des {
            height: 79px;
            width: 270px;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

    }

    .causae {
        flex-basis: 16.66%;

    }

    .aperiri {
        flex-basis: 16.66%;
    }

    .post {
        flex-basis: 33.32%;
    }


    a {
        text-decoration: none;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        ;
    }

    .ti {
        font-weight: 700;
    }

    .post {
        display: flex;
        flex-direction: column;
        gap: 39px;
    }

    .picpost {
        display: flex;
        gap: 30px;
    }

    .des {
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
    }


    .desc {
        height: 48px;
        width: 270px;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        font-family: "DM Sans";
    }

    .desc {
        width: 270px;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        font-family: "DM Sans";
    }

    .date {
        font-family: "DM Sans";
        font-size: 12px;

        font-weight: 700;
        line-height: 24px;
    }
}


.date {
    font-family: "DM Sans";
    font-size: 12px;

    font-weight: 700;
    line-height: 24px;
}


//scripserit blue+img container 5 Styling
.container5_303 {
    background-color: #434ccc;
    width: 100%;
    height: 656px;
    display: flex;
    margin: auto;

    .side1_303 {
        width: 50%;
        height: 656px;
        background-color: #434ccc;

        .H5_303 {
            //styleName: H5;
            width: 127px;
            height: 24px;
            color: white;
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.3em;
            text-align: left;
            margin: 127px 1178px 21px 135px;
        }

        .heading_303 {
            //styleName: heading_303;
            color: white;
            width: 331px;
            height: 128px;
            margin: 0px 974px 29px 135px;
            font-family: 'DM Serif Display', serif;
            font-size: 56px;
            font-weight: 400;
            line-height: 64px;
            letter-spacing: 0px;
            text-align: left;
        }

        .textbig_303 {
            //styleName: textbig_303;
            width: 470px;
            height: 103px;
            color: white;
            font-family: 'DM Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            margin: 0px 835px 32px 135px;
        }

        .btn_303 {
            width: 170px;
            height: 48px;
            background-color: #f1b505;
            color: white;
            font-family: 'DM Sans', sans-serif;
            margin: 0px 1135px 144px 135px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            border: none;
            border-radius: 4px;
        }
    }

    .side2_303 {
        width: 50%;
        height: 656px;

        .img_303 {
            width: 100%;
            height: 656px;
        }
    }

}

@media screen and (min-width:100px) and (max-width:650px) {
    .container5_303 {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}