body {
  margin: 0;
  padding: 0;
}

#topBannerAndNavBar {
  background-color: #434CCC;
  width: 100%;
  height: 120vh;
  color: white;
  font-family: DM Sans;
  padding: 0% 7%;
  box-sizing: border-box;
}
#topBannerAndNavBar nav {
  width: 100%;
  height: 18vh;
  display: flex;
}
#topBannerAndNavBar nav #logoContainer {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}
#topBannerAndNavBar nav #logoContainer #mainLogo {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}
#topBannerAndNavBar nav #navLinksContainer {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
}
#topBannerAndNavBar nav #navLinksContainer a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: DM Sans;
}
#topBannerAndNavBar nav #navLinksContainer button {
  background-color: #434CCC;
  padding: 13px 56px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#topBannerAndNavBar nav #menuIcon {
  width: 20%;
  height: 20%;
  display: none;
}
#topBannerAndNavBar nav #hideLinksContainer {
  display: none;
}
#topBannerAndNavBar #surbhiTopBlueBanner {
  width: 100%;
  height: 105vh;
  display: flex;
  box-sizing: border-box;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent {
  width: 45%;
  height: 100%;
  padding-top: 5%;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent #paraBeforeHeading {
  font-weight: 400;
  letter-spacing: 4.8px;
  font-size: 16px;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent h1 {
  font-family: DM Serif Display;
  font-size: 72px;
  font-weight: 400;
  margin: 0;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent div {
  width: 70%;
  height: fit-content;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent div p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent div button {
  padding: 13px 55px;
  background: var(--Primary_2, #F1B505);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-top: 20px;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerImg {
  width: 55%;
  height: 100%;
}
#topBannerAndNavBar #surbhiTopBlueBanner #topBannerImg img {
  width: 100%;
  height: 95%;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  #topBannerAndNavBar {
    padding: 0% 5%;
    width: 100%;
    height: fit-content;
  }
  #topBannerAndNavBar nav {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  #topBannerAndNavBar nav #logoContainer {
    width: 50%;
  }
  #topBannerAndNavBar nav #logoContainer #mainLogo {
    width: 45%;
    height: 70%;
  }
  #topBannerAndNavBar nav #navLinksContainer {
    display: none;
  }
  #topBannerAndNavBar nav #menuIcon {
    width: 20%;
    height: 20%;
    transition: transform 0.2s;
    display: block;
  }
  #topBannerAndNavBar nav #menuIcon:hover {
    transform: scale(1.5);
  }
  #topBannerAndNavBar nav #menuIcon:hover ~ #hideLinksContainer {
    display: block;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #topBannerAndNavBar nav #hideLinksContainer {
    width: 50%;
    height: 30vh;
    right: 1vh;
    top: 15vh;
    position: absolute;
    display: none;
    background-color: white;
  }
  #topBannerAndNavBar nav #hideLinksContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(202, 200, 200);
  }
  #topBannerAndNavBar nav #hideLinksContainer div a {
    font-size: 20px;
    text-decoration: none;
    color: #0b18cc;
    font-weight: 600;
    cursor: pointer;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent #paraBeforeHeading {
    font-size: 14px;
    margin: 0;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent h1 {
    font-size: 56px;
    margin: 0;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent div {
    width: 90%;
    height: fit-content;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent div p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerContent div button {
    padding: 5% 15%;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10%;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerImg {
    width: 100%;
    height: 40%;
    padding-top: 4%;
  }
  #topBannerAndNavBar #surbhiTopBlueBanner #topBannerImg img {
    width: 98%;
    height: fit-content;
  }
}
.main_303 {
  width: 100%;
  height: 768px;
  margin: auto;
  background-color: #FFDD78;
  display: flex;
  flex-direction: column;
}

.H2_303 {
  width: 469px;
  height: 64px;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.Text_Big_303 {
  width: 570px;
  height: 83px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.cards_303 {
  display: flex;
  width: 80%;
  height: auto;
  text-align: center;
  align-items: center;
  margin-top: 0%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 3%;
}

.card_303 {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2980392157);
  border-radius: 4px;
  margin: auto;
}

.image1_303 {
  width: 132px;
  height: 114px;
  margin-top: 64px;
  margin-bottom: 54px;
}

.H4_303 {
  width: 162px;
  height: 32px;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0%;
  margin-left: 30px;
  margin-bottom: 15px;
  color: black;
}

.Text_grey_303 {
  width: 306px;
  height: 48px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 32px;
  color: rgba(0, 0, 0, 0.5019607843);
  margin-bottom: 25px;
}

.HR_303 {
  width: 338px;
  height: 1px;
  color: black;
  margin-left: 32px;
  opacity: 10.11%;
}

.material-symbols-outlined {
  width: 6px;
  height: 11px;
  position: relative;
  left: 85px;
  bottom: 22px;
  transform: rotate("-180deg");
}

.Text_303 {
  width: 88px;
  height: 24px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 32px;
}

.image2_303 {
  width: 186px;
  height: 96px;
  margin: 73px 100px 63px 84px;
}

.H4_2_303 {
  width: 158px;
  height: 32px;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0%;
  margin-left: 30px;
  margin-bottom: 15px;
  color: black;
}

.image3_303 {
  width: 144px;
  height: 126px;
  margin: 58px 105px 48px 121px;
}

.H4_3_303 {
  width: 175px;
  height: 32px;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0%;
  margin-left: 30px;
  margin-bottom: 15px;
  color: black;
}

@media screen and (min-width: 100px) and (max-width: 1300px) {
  .main_303 {
    min-width: 425px;
    height: 1632px;
  }
  .H2_303 {
    width: 335px;
    height: auto;
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 30px;
  }
  .Text_Big_303 {
    width: 346px;
    height: auto;
    margin-bottom: 50px;
  }
  .cards_303 {
    gap: 16px;
    flex-direction: column;
  }
  .card_303 {
    width: 346px;
    height: auto;
    margin: auto;
  }
  .Text_grey_303 {
    width: 282px;
    height: auto;
  }
}
.aliquip {
  width: 100%;
  max-height: 1756px;
  padding-top: 63px;
  background-color: #f5f6fc;
  direction: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 2px;
}
.aliquip .sam .samhead1 {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
}
.aliquip .sam .samhead2 {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
  margin-top: 21px;
}
.aliquip .sam .samText_Big {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-top: 29px;
}
.aliquip .samcontent {
  display: grid;
  margin-top: 13px;
  margin-bottom: 117px;
  margin-left: 135px;
  margin-right: 135px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.aliquip .samcontent #somu1 {
  padding-left: 80px;
}
.aliquip .samcontent #somu1 #samimg1 {
  height: 456px;
  width: 485px;
  margin-right: 20px;
}
.aliquip .samcontent #somu2 {
  padding-right: 80px;
}
.aliquip .samcontent #somu2 .samhead {
  color: var(--Text_Black, #000);
  /* H3 */
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-top: 97px;
  /* 120% */
  width: 323px;
  height: 96px;
  top: 1930px;
  left: 735px;
}
.aliquip .samcontent #somu2 .samText_Grey {
  width: 470px;
  height: 75px;
  top: 2063px;
  left: 735px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-top: 27px;
}
.aliquip .samcontent #somu2 .samText {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  margin-top: 37px;
  height: 24px;
  top: 2175px;
  left: 735px;
  width: 96px;
}
.aliquip #somu3 {
  padding-left: 80px;
}
.aliquip #somu3 .samhead {
  color: var(--Text_Black, #000);
  /* H3 */
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 120% */
  width: 392px;
  height: 96px;
  top: 2410px;
  left: 235px;
  margin-top: 121px;
}
.aliquip #somu3 .samText_Grey {
  height: 75px;
  top: 2543px;
  left: 235px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-top: 37px;
}
.aliquip #somu3 .samText {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  margin-top: 37px;
}
.aliquip #somu4 {
  padding-right: 80px;
}
.aliquip #somu4 #samimg2 {
  height: 456px;
  width: 485px;
  margin-top: 40px;
}
@media screen and (min-width: 100px) and (max-width: 767px) {
  .aliquip .sam .samhead1 {
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 40px;
  }
  .aliquip .sam .samhead2 {
    font-size: 36px;
    margin-top: 15px;
  }
  .aliquip .sam .samText_Big {
    font-size: 18px;
    margin-top: 20px;
  }
  .aliquip .samcontent {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .aliquip .samcontent #somu1 {
    padding-left: 20px;
  }
  .aliquip .samcontent #somu1 #samimg1 {
    height: auto;
    width: 100%;
    margin-right: 0;
    margin-left: -83px;
  }
  .aliquip .samcontent #somu2 {
    padding-right: 20px;
    height: min-content;
  }
  .aliquip .samcontent #somu2 .samhead {
    font-size: 28px;
    margin-top: 30px;
  }
  .aliquip .samcontent #somu2 .samText_Grey {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-size: 14px;
    margin-top: 20px;
  }
  .aliquip .samcontent #somu2 .samText {
    height: auto;
    top: 0;
    left: 0;
    font-size: 14px;
    margin-top: 20px;
  }
  .aliquip .samcontent #somu3 {
    padding-left: 20px;
    order: 1;
    margin-top: -135px;
  }
  .aliquip .samcontent #somu3 .samhead {
    font-size: 28px;
    margin-top: 30px;
  }
  .aliquip .samcontent #somu3 .samText_Grey {
    height: auto;
    top: 0;
    left: 0;
    font-size: 14px;
    margin-top: 20px;
  }
  .aliquip .samcontent #somu3 .samText {
    height: auto;
    top: 0;
    left: 0;
    font-size: 14px;
    margin-top: 20px;
  }
  .aliquip .samcontent #somu4 {
    padding-right: 20px;
    margin-top: -182px;
  }
  .aliquip .samcontent #somu4 #samimg2 {
    height: auto;
    width: 91%;
    display: block;
    /* Ensure the image behaves like a block-level element */
    margin: 0 auto;
    padding-top: 0px;
    margin-left: -14px;
    margin-top: 125px;
  }
  .aliquip .aliquip {
    height: 1975px;
    flex-shrink: 0; /* Adjust the height for mobile view */
  }
}

#scriptorem {
  width: 100%;
  background-color: #f5f6fc;
  direction: flex;
  flex-direction: column;
  padding-top: 63px;
}
#scriptorem .revsmain2 .revshead,
#scriptorem .revsmain .revshead {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 63px;
}
#scriptorem .revsmain2 .revshead2,
#scriptorem .revsmain .revshead2 {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
}
#scriptorem .revsmain2 .revsp,
#scriptorem .revsmain .revsp {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 20px;
}
#scriptorem .revsflexbox {
  display: flex;
  flex-direction: row;
  /* Stack items vertically for smaller screens */
  gap: 30px;
  margin-left: 135px;
  margin-right: 135px;
  padding: 20px;
  /* Add some padding to create spacing between items */
  box-sizing: border-box;
}
#scriptorem .revsflexbox > div {
  width: 100%;
  height: 492px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
}
#scriptorem .revsflexbox > div img {
  width: 285px;
  height: 285px;
  padding: 23px;
  border-radius: 50%;
}
#scriptorem .revsflexbox > div h4 {
  color: var(--Text_Black, #000);
  padding-left: 23px;
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
  margin-top: 0px;
}
#scriptorem .revsflexbox > div hr {
  margin-left: 23px;
  color: #e5e5e5;
}
#scriptorem .revsflexbox > div > div {
  display: flex;
  justify-content: space-between;
  margin-left: 23px;
  margin-right: 15px;
  margin-top: 0;
}
#scriptorem .revsflexbox > div > div p {
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#scriptorem .revsflexbox > div > div img {
  width: 65px;
  height: 28px;
  margin-top: -8px;
  margin-top: -8px;
  padding-right: 0px;
}
#scriptorem .revsgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px 22px;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 52px;
}
#scriptorem .revsgrid > div {
  width: 340px;
  height: 144px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
}
#scriptorem .revsgrid > div img {
  margin: 32px 22px 63px 23px;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  width: 43px;
  height: 49px;
}
#scriptorem .revsgrid > div .revsheadgrid {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
  margin-top: 22px;
}
#scriptorem .revsgrid > div .revspgrid {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  margin-right: 28px;
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-top: -24px;
}
@media screen and (max-width: 767px) {
  #scriptorem .revsflexbox {
    margin-left: 47px;
    margin-right: 40px;
    flex-direction: column;
  }
  #scriptorem .revsgrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #scriptorem #scriptorem {
    height: 3350px;
    min-width: 425px;
  }
  #scriptorem .revsflexbox {
    margin-left: 47px;
    margin-right: 40px;
    flex-direction: column;
  }
  #scriptorem .revsflexbox > div {
    width: 100%;
    height: 492px;
    border-radius: 5px;
  }
  #scriptorem .revsflexbox > div img {
    margin-top: 9px;
    width: 285px;
    height: 285px;
    padding: 23px;
    padding-left: 92px;
    padding-right: 93px;
    border-radius: 50%;
  }
  #scriptorem .revsflexbox #scriptorem .revsgrid > div {
    width: 340px;
    height: 144px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    margin-left: -124px;
  }
  #scriptorem .revsflexbox #scriptorem {
    height: 3350px;
  }
}
@media screen and (min-width: 100px) and (max-width: 650px) {
  #scriptorem .revsgrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #scriptorem #scriptorem {
    height: 3350px;
    min-width: 425px;
    height: 3413px;
  }
  #scriptorem .revsflexbox {
    margin-left: 47px;
    margin-right: 40px;
    flex-direction: column;
  }
  #scriptorem .revsflexbox > div {
    width: 100%;
    height: 492px;
    border-radius: 5px;
  }
  #scriptorem .revsflexbox > div img {
    margin-top: 9px;
    width: 203px;
    height: 285px;
    padding: 24px 11px 21px 12px;
    border-radius: 50%;
  }
  #scriptorem .revsflexbox #scriptorem .revsgrid > div {
    width: 340px;
    height: 144px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    margin-left: -124px;
  }
}

#molestiae-section {
  width: 100%;
  height: 335vh;
  position: relative;
  font-family: DM Sans;
}
#molestiae-section #blueContainer {
  width: 100%;
  height: 115vh;
  background-color: #434CCC;
  display: flex;
  justify-content: center;
}
#molestiae-section #blueContainer div {
  color: white;
  width: 38%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#molestiae-section #blueContainer div #head-molestie {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4.8px;
}
#molestiae-section #blueContainer div #heading-h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
}
#molestiae-section #blueContainer div #para {
  font-size: 20px;
  font-weight: 400;
}
#molestiae-section #whiteContainer {
  width: 100%;
  height: 220vh;
  padding-left: 7%;
  padding-right: 7%;
  box-sizing: border-box;
}
#molestiae-section #whiteContainer #overlapingImgContainer {
  height: 230vh;
  width: 86%;
  top: 60vh;
  position: absolute;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers {
  height: 140vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2%;
  grid-column-gap: 2%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  font-size: 16px;
  font-weight: 400;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers h4 {
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers h2 {
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 6%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #yellowBackGroundCont {
  border-radius: 5px;
  background: url("./bigger-yellow-back-img.png"), lightgray 0px 0px/100% 100% no-repeat;
  background-size: cover;
  grid-area: 1/1/2/3;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #yellowBackGroundCont div {
  height: 50%;
  width: 38%;
  box-sizing: border-box;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #yellowBackGroundCont div button {
  padding: 2% 6%;
  background-color: #F1B505;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid white;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #pinkBackGroundCont {
  border-radius: 5px;
  background: url("./pink-background-img.png"), lightgray 0px 0px/100% 100% no-repeat;
  padding-left: 12%;
  padding-top: 10%;
  background-size: cover;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers .innerContentCont {
  height: fit-content;
  width: 30%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers .innerContentCont button {
  padding: 5% 10%;
  color: white;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
}
#molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #skyblueBackGroundCont {
  border-radius: 5px;
  background: url("./skyblue-background-img.png"), lightgray 0px 0px/100% 100% no-repeat;
  padding-left: 12%;
  padding-top: 10%;
  background-size: cover;
}
#molestiae-section #whiteContainer #overlapingImgContainer #buttonContainer {
  height: 30vh;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #buttonContainer button {
  color: #434CCC;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 49px;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container {
  width: 100%;
  height: 80vh;
  display: flex;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #imgContainer {
  width: 50%;
  height: 100%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #imgContainer img {
  width: 90%;
  height: 100%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer {
  width: 50%;
  height: 100%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #headingContainer {
  height: 60%;
  width: 100%;
  box-sizing: border-box;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #headingContainer h3 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8%;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #headingContainer p {
  font-size: 20px;
  font-weight: 400;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #cardContainer {
  height: 40%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #cardContainer h4 {
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}
#molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #cardContainer p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-size: 16px;
  font-weight: 400;
  margin-top: 7%;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  #molestiae-section {
    width: 100%;
    height: 492vh;
  }
  #molestiae-section #blueContainer {
    height: 100vh;
  }
  #molestiae-section #blueContainer div {
    width: 70%;
    height: fit-content;
    padding-top: 3%;
  }
  #molestiae-section #blueContainer div #heading-h2 {
    font-size: 40px;
  }
  #molestiae-section #whiteContainer {
    width: 100%;
    height: fit-content;
    padding: 0% 5%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer {
    height: fit-content;
    width: 90%;
    top: 55vh;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers {
    height: 220vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers h4 {
    font-size: 28px;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers h2 {
    font-size: 40px;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #yellowBackGroundCont {
    background: url("./yellow-background-img.png"), lightgray 0px 0px/100% 100%;
    background-size: cover;
    grid-area: 1/1/2/2;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0%;
    padding-top: 8%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #yellowBackGroundCont div {
    height: 70%;
    width: 80%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #yellowBackGroundCont div button {
    padding: 3% 10%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #pinkBackGroundCont {
    background: url("./small-pink-background-img.png"), lightgray 0px 0px/100% 100% no-repeat;
    background-size: cover;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers .innerContentCont {
    height: fit-content;
    width: 32%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #gridContainers #skyblueBackGroundCont {
    background: url("./small-skyblue-background-img.png"), lightgray 0px 0px/100% 100% no-repeat;
    background-size: cover;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #buttonContainer {
    height: 22vh;
    padding-top: 15%;
    box-sizing: border-box;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #imgContainer {
    height: 30%;
    width: 100%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #imgContainer img {
    width: 100%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer {
    height: 70%;
    width: 100%;
    padding: 0% 7%;
    box-sizing: border-box;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #headingContainer {
    width: 90%;
    height: 40%;
    box-sizing: border-box;
    padding-top: 10%;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #headingContainer h3 {
    font-size: 40px;
    line-height: 48px;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #headingContainer p {
    line-height: 32px;
    text-align: justify;
  }
  #molestiae-section #whiteContainer #overlapingImgContainer #sec-Img-Content-Container #contentContainer #cardContainer {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}
.container_194 {
  background-color: #434CCC;
  display: flex;
  width: 100%;
  height: 80vh;
  border: 1px solid;
}
.container_194 .girl_194 {
  width: 40%;
  height: 100%;
}
.container_194 .para_194 {
  width: 60%;
  height: 100%;
}
.container_194 .para_194 .h4_194 {
  font-size: 26.5px;
  font-family: "DM serif";
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  width: 670px;
  height: 107px;
  margin: auto;
  margin-top: 40px;
  margin-left: 92px;
  color: white;
}
.container_194 .para_194 .h5_194 {
  width: 160px;
  height: 24px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.3em;
  text-align: left;
  margin-left: 92px;
  margin-top: 110px;
  color: white;
}
.container_194 .para_194 .span_194 {
  color: white;
  width: 125px;
  height: 32px;
  margin-left: 92px;
  margin-top: 183px;
  line-height: 46px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.container_194 .para_194 .tag_194 {
  color: white;
  display: block;
  opacity: 50%;
  margin-left: 92px;
  line-height: 24px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}

#arrow_194 {
  width: 13px;
  height: 21px;
  margin: 206px auto 0 152px;
  position: relative;
}

#arrow_1942 {
  width: 13px;
  height: 21px;
  display: block;
  margin: 20px auto 0 152px;
  transform: rotate(-180deg);
  position: relative;
}

#Bitmap_194 {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 106px;
}

.girl_194 {
  display: flex;
}

.arrow_194 {
  width: 50%;
  height: 100%;
}

.bitmap_194 {
  width: 50%;
  height: 100%;
}

.pet {
  height: 625px;
  width: 100%;
}
.pet #petentium {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 430;
  line-height: 24px;
  letter-spacing: 4.8px;
  color: var(--Text_Black, #000);
  text-transform: uppercase;
  margin-left: 660px;
  margin-right: 657px;
}
.pet #cot {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  color: var(--Text_Black, #000);
  margin-left: 556px;
  margin-right: 555px;
  margin-top: 21px;
}
.pet #zril {
  width: 570px;
  height: 83px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 32px;
  margin-left: 435px;
  margin-right: 435px;
  margin-top: 29px;
}
.pet .petlogos {
  display: flex;
  gap: 30px;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 55px;
}
.pet #cont {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid rgb(193, 185, 185);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: white;
  color: #434CCC;
  margin-top: 72px;
  margin-left: 635px;
  margin-right: 635px;
}
.pet hr {
  height: 1px;
  width: 100%;
  color: rgb(221, 222, 227);
  margin-top: 96px;
}

#novumContainer {
  width: 100%;
  height: 185vh;
  padding: 0% 7%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: DM Sans;
}
#novumContainer #firstInnerCont {
  width: 100%;
  height: 110vh;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont {
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3%;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont #headingAndParaCont,
#novumContainer #firstInnerCont #firstContsOuterAlignCont #buttonCont {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont #headingAndParaCont {
  padding-top: 6%;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont #headingAndParaCont h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4.8px;
  margin-bottom: 0;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont #headingAndParaCont h2 {
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont #buttonCont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont #buttonCont button {
  border-radius: 5px;
  border: 1px solid var(--Primary_1, #434CCC);
  padding: 2% 5%;
  color: #434CCC;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 4%;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards {
  width: 100%;
  height: 70%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 1px solid white;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardImgCont {
  height: 60%;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardImgCont img {
  width: 100%;
  height: 90%;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont {
  height: 35%;
  width: 100%;
  padding-left: 5%;
  box-sizing: border-box;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3%;
  margin-top: 0px;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont h4 {
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4%;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont .horizontal-partition-container {
  border-top: 1px solid rgb(180, 180, 180);
  height: 30%;
  display: flex;
  align-items: flex-end;
}
#novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont .horizontal-partition-container a {
  color: var(--Text_Black, #000);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
#novumContainer #secInnerCont {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#novumContainer #secInnerCont #secContOuterAlignCont {
  width: 100%;
  height: 52%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2%;
}
#novumContainer #secInnerCont #secContOuterAlignCont #contentCont h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4.8px;
}
#novumContainer #secInnerCont #secContOuterAlignCont #contentCont h4 {
  font-family: DM Serif Display;
  font-size: 22px;
  font-weight: 400;
}
#novumContainer #secInnerCont #secContOuterAlignCont #contentCont #cameraIcon {
  padding: 3% 2% 1% 2%;
  border: 1px solid rgb(79, 79, 160);
  border-radius: 5px;
}
#novumContainer #secInnerCont #secContOuterAlignCont #contentCont #graySpan {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-size: 16px;
  font-weight: 400;
}
#novumContainer #secInnerCont #secContOuterAlignCont div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
#novumContainer #secInnerCont #secContOuterAlignCont div .img-imgContent {
  width: fit-content;
  height: fit-content;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  #novumContainer {
    height: fit-content;
    padding: 0% 5%;
  }
  #novumContainer #firstInnerCont {
    height: fit-content;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont #headingAndParaCont {
    height: fit-content;
    padding-top: 8%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont #headingAndParaCont h2 {
    font-size: 40px;
    margin: 0;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont #buttonCont {
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont #buttonCont button {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont #Partition2 {
    display: flex;
    flex-direction: column-reverse;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont .cards {
    width: 100%;
    height: fit-content;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardImgCont {
    height: fit-content;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardImgCont img {
    height: fit-content;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont {
    height: fit-content;
    width: 90%;
  }
  #novumContainer #firstInnerCont #firstContsOuterAlignCont .cards .cardContentCont .horizontal-partition-container {
    height: 7vh;
    align-items: center;
  }
  #novumContainer #secInnerCont {
    width: 100%;
    height: fit-content;
  }
  #novumContainer #secInnerCont #secContOuterAlignCont {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  #novumContainer #secInnerCont #secContOuterAlignCont #contentCont {
    height: fit-content;
    width: 100%;
    padding-right: 30%;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  #novumContainer #secInnerCont #secContOuterAlignCont .img-cont {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #novumContainer #secInnerCont #secContOuterAlignCont .img-cont img {
    width: 100%;
    height: fit-content;
  }
}
.cont11 {
  width: 100%;
  height: 656px;
  background-color: #FFDD78;
  display: flex;
}

.para2_194 {
  width: 50%;
  height: 100%;
}

.cycle_194 {
  width: 50%;
  height: 100%;
  margin-left: -80px;
}

.name_194 {
  width: 130px;
  height: 24px;
  line-height: 24px;
  letter-spacing: 4.8px;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  margin-top: 70px;
  margin-left: 135px;
}

.h2_194 {
  width: 419px;
  height: 128px;
  font-family: serif;
  font-size: 56px;
  font-style: normal;
  line-height: 64px;
  margin-left: 135px;
}

.p22_194 {
  width: 470px;
  height: 103px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 0.8px;
  line-height: 32px;
  margin-left: 135px;
}

.label_194 {
  width: 270px;
  height: 45px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-left: 135px;
}
.label_194::placeholder {
  font-size: 16px;
  font-family: sans-serif;
  padding: 13px 0 11px 16px;
}

.subs {
  width: 170px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: #434CCC;
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20px;
}

@media screen and (min-width: 100px) and (max-width: 1300px) {
  .cont11 {
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .name_194 {
    width: 129px;
    height: 24px;
    line-height: 24px;
    letter-spacing: 30%;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-top: 70px;
    margin-left: 16px;
  }
  .h2_194 {
    width: 299px;
    height: 96px;
    font-family: serif;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    margin-left: 16px;
  }
  .p22_194 {
    width: 346px;
    height: 131px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 0.8px;
    line-height: 32px;
    margin-left: 16px;
  }
  .label_194 {
    width: 346px;
    height: 48px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-left: 16px;
  }
  .label_194::placeholder {
    font-size: 16px;
    font-family: sans-serif;
    padding: 13px 0 11px 16px;
  }
  .subs {
    width: 170px;
    height: 45px;
    margin-left: 16px;
    margin-top: 20px;
    display: flex;
    padding: 11px 0 0 45px;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: block;
  }
  .cycle_194 {
    width: 100%;
    margin-left: -205px;
    margin-top: -50px;
    flex-direction: column;
  }
}
.bot {
  height: 656px;
  width: 100%;
  background-color: #434CCC;
  display: flex;
}
.bot #location {
  height: 464px;
  width: 570px;
  position: relative;
  left: 115px;
  top: 100px;
}
.bot .detail {
  position: relative;
  height: 464px;
  width: 569px;
  top: 100px;
  left: 200px;
}
.bot .largeimage {
  height: 464px;
  width: 570px;
}
.bot .smallimage {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 44%;
  left: 46%;
}
.bot #anc {
  height: 24px;
  width: 107px;
  font-family: "DM Sans", sans-serif;
  color: #FFFFFF;
  size: 16px;
  line-height: 24px;
  letter-spacing: 30%;
}
.bot #SC {
  font-family: "DM Serif Display";
  width: 268px;
  line-height: 64px;
  font-size: 56px;
  color: white;
  margin-top: 21px;
  font-weight: 400;
}
.bot #mail {
  height: 76px;
  width: 470px;
  margin-top: 24px;
}
.bot #email {
  width: 100%;
  padding-bottom: 12px;
  padding-top: 15px;
  padding-left: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.bot #msg {
  height: 124px;
  width: 470px;
}
.bot #message {
  width: 480px;
  height: 96px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.bot button {
  margin-top: 48px;
  height: 48px;
  width: 170px;
  color: white;
  background-color: #F1B505;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: #F1B505;
}

footer {
  background-color: rgb(245, 246, 252);
  height: 400px;
  width: 100%;
  font-family: "DM-sans";
}
footer .soc {
  display: flex;
  gap: 13px;
}
footer .container {
  padding-top: 79px;
  display: flex;
  height: 320px;
  width: 100%;
}
footer .lastline {
  background-color: rgb(245, 246, 252);
  height: 80px;
  width: 100%;
  display: flex;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
footer .lastline #leftline {
  margin-top: 27px;
  margin-left: 135px;
  margin-bottom: 29px;
}
footer .lastline #rightline {
  margin-right: 135px;
  margin-top: 27px;
  margin-left: 787px;
}
footer .soc {
  margin-top: 18px;
}
footer .logos {
  margin-left: 135px;
  margin-top: 20px;
}
footer .logos .log {
  height: 32px;
  width: 62px;
}
footer .logos .des {
  height: 79px;
  width: 270px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .combi {
  display: flex;
}
footer .causae {
  margin-left: 105px;
}
footer .aperiri {
  margin-left: 140px;
}
footer .post {
  margin-left: 120px;
}
footer a {
  text-decoration: none;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
footer .ti {
  font-weight: 700;
}
footer .post {
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-top: 20px;
}
footer .picpost {
  display: flex;
  gap: 30px;
}
footer .des {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
footer .desc {
  height: 48px;
  width: 270px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
}
footer .date {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.container5_303 {
  background-color: #434ccc;
  width: 100%;
  height: 656px;
  display: flex;
  margin: auto;
}
.container5_303 .side1_303 {
  width: 50%;
  height: 656px;
  background-color: #434ccc;
}
.container5_303 .side1_303 .H5_303 {
  width: 127px;
  height: 24px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: left;
  margin: 127px 1178px 21px 135px;
}
.container5_303 .side1_303 .heading_303 {
  color: white;
  width: 331px;
  height: 128px;
  margin: 0px 974px 29px 135px;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.container5_303 .side1_303 .textbig_303 {
  width: 470px;
  height: 103px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0px 835px 32px 135px;
}
.container5_303 .side1_303 .btn_303 {
  width: 170px;
  height: 48px;
  background-color: #f1b505;
  color: white;
  font-family: "DM Sans", sans-serif;
  margin: 0px 1135px 144px 135px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  border-radius: 4px;
}
.container5_303 .side2_303 {
  width: 50%;
  height: 656px;
}
.container5_303 .side2_303 .img_303 {
  width: 100%;
  height: 656px;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  .container5_303 {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 100px) and (max-width: 650px) {
  .bot {
    margin-top: 10px;
    height: auto;
    width: 100%;
    max-width: 100%;
    background-color: #434CCC;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bot #location {
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    position: relative;
  }
  .bot .detail {
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    text-align: center;
  }
  .bot .largeimage {
    width: 100%;
    max-width: 80%;
    height: 100%;
    position: relative;
    display: relative;
    margin: 20px;
  }
  .bot .smallimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
  }
  .bot #anc {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    margin-top: 30px;
  }
  .bot #SC {
    font-family: "DM Serif Display";
    width: 100%;
    line-height: 64px;
    font-size: 32px;
    color: white;
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
  }
  .bot #mail {
    width: 100%;
    height: 76px;
    margin-top: 24px;
  }
  .bot #email {
    width: 75%;
    padding-bottom: 12px;
    padding-top: 15px;
    padding-left: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .bot #msg {
    width: 100%;
    height: 124px;
  }
  .bot #message {
    width: 80%;
    height: 96px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .bot button {
    margin-top: 48px;
    width: 170px;
    align-items: left;
  }
}
@media screen and (min-width: 100px) and (max-width: 650px) {
  footer {
    height: auto;
    font-family: "DM-sans";
  }
  footer .container {
    padding-top: 20px;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }
  footer .lastline {
    height: auto;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
  }
  footer .lastline #leftline {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  footer .lastline #rightline {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 0;
  }
  footer .logos {
    margin-left: 15px;
    margin-top: 20px;
  }
  footer .logos .log {
    height: 20px;
    width: 40px;
  }
  footer .logos .des {
    height: auto;
    width: 100%;
    margin-top: 15px;
  }
  footer .combi {
    flex-direction: row;
    justify-content: start;
    margin-left: 10px;
    margin-top: 15px;
  }
  footer .causae,
  footer .aperiri {
    width: 48%;
  }
  footer .causae {
    margin-left: 10px;
  }
  footer .aperiri {
    margin-left: 15px;
  }
  footer .post {
    margin-left: 15px;
    margin-top: 10px;
  }
  footer .ti {
    font-weight: 700;
  }
  footer .post {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer .picpost {
    display: flex;
    gap: 20px;
  }
  footer .des {
    font-size: 14px;
    line-height: 20px;
  }
  footer .desc {
    height: auto;
    width: 100%;
  }
  footer .date {
    font-size: 12px;
  }
  footer .lastline {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  footer #leftline {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  footer #rightline {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 100px) and (max-width: 650px) {
  .pet {
    height: auto;
    width: 100%;
  }
  .pet #petentium {
    margin: 0 auto;
    text-align: center;
  }
  .pet #cot {
    font-size: 36px;
    margin: 0;
    text-align: center;
  }
  .pet #zril {
    width: 100%;
    margin: 0 20px;
  }
  .pet .petlogos {
    flex-direction: column;
    align-items: center;
  }
  .pet #cont {
    width: 100%;
    margin: 0 auto;
  }
  .pet hr {
    margin: 48px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
