
#topBannerAndNavBar{
    background-color: #434CCC;
    width: 100%;
    height: 120vh;
    color: white;
    font-family: DM Sans;

    nav{
        width: 100%;
        height: 15vh;
        display: flex;

        #logoContainer{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;

            #mainLogo{
                width: 45%;
                height: 100%;
                margin-left: 120px;
            }
        }
        #navLinksContainer{
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4%;
            padding-right: 135px;

            a{
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-family: DM Sans;
            }
            button{
                background-color: #434CCC;
                padding: 13px 56px;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    
    #surbhiTopBlueBanner{
        width: 100%;
        height: 105vh;
        display: flex;
        padding-left: 135px;
        padding-right: 135px;
        box-sizing: border-box;
        
        #topBannerContent{
            width: 40%;
            height: 100%;
            padding-top: 111px;

            #paraBeforeHeading{
                font-weight: 400;
                letter-spacing: 4.8px;
                font-size: 16px;
            }
            h1{
                font-family: DM Serif Display;
                font-size: 72px;
                font-weight: 400;
                margin: 0;
            }
            div{
                width: 70%;
                height: fit-content;
                
                p{
                    font-size: 16px;
                    font-weight: 700;    
                }
                button{
                    padding: 13px 55px;
                    background: var(--Primary_2, #F1B505);
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
        }
        #topBannerImg{
            width: 60%;
            height: 100%;
            
            img{
                width: 100%;
                height: 95%;
            }
        }

    }

}
.bot{
    height: 656px;
    width: 100%;
    background-color: #434CCC;
    display: flex;

    #location{
        height: 464px;
        width: 570px;
        position: relative;
        left: 115px;
        top: 100px;
    }

    .detail{
        position: relative;
        height:464px;
        width: 569px;
        top:100px;
        left:200px;
    }
     
    .largeimage{
        height: 464px;
        width:570px;
    }

    .smallimage{
        position:absolute;
        width: 72px;
        height: 72px;
        top: 44%;
        left: 46%;
    }


    #anc{
        height: 24px;
        width:107px;
    font-family:'DM Sans', sans-serif;
    
    color: #FFFFFF;
    size: 16px;
    line-height: 24px;
    letter-spacing: 30%;

    }

    #SC{
        font-family:'DM Serif Display';
        width: 268px;
        line-height:64px;
        font-size: 56px;
        color: white;
        margin-top: 21px;
        font-weight: 400;

        
    }


    #mail{
        height: 76px;
        width: 470px;
        margin-top: 24px;
    }

    #email{
        width: 100%;
            padding-bottom: 12px;
            padding-top: 15px;
            padding-left: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
    }


    #msg{
        height: 124px;
        width: 470px;
       
    }
    #message{
        width: 480px;
        height: 96px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    
    button{
        margin-top: 48px;
        height: 48px;
        width:170px;
        color: white;
        background-color:#F1B505;
        font-family: 'DM Sans';
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        border: #F1B505;
        
    }

}
//Container2 Styling
.main_303 {
    width: 100%;
    height: 768px;
    background-color: #FFDD78;
}

.H2_303 {
    //styleName: H2_303;
    width: 469px;
    height: 64px;
    padding-top: 60px;
    padding-bottom: 25px;
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: center;
    margin: auto;
}

.Text_Big_303 {
    //styleName: Text_Big_303;
    width: 570px;
    height: 83px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin: auto;
    padding-bottom: 36px;
}

.cards_303 {
    display: grid;
    width: 1170px;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    align-items: center;
    margin: auto;
    gap: 30px;
}

.card_303 {
    width: 370px;
    height: 416px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #0000004C;
    border-radius: 4px;
}

.image1_303 {
    width: 132px;
    height: 114px;
    margin-top: 64px;
    margin-bottom: 54px;
}

.H4_303 {
    //styleName: H4-303;
    width: 162px;
    height: 32px;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0%;
    margin-left: 30px;
    margin-bottom: 15px;
    color: black;
}

.Text_grey_303 {
    //styleName: Text_Gray;
    width: 306px;
    height: 48px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 32px;
    color: #00000080;
    margin-bottom: 25px;
}

.HR_303 {
    width: 338px;
    height: 1px;
    color: black;
    margin-left: 32px;
    opacity: 10.11%;
}

.material-symbols-outlined {
    width: 6px;
    height: 11px;
    position: absolute;
    font-size: 20px;
    bottom: 29px;
    transform: rotate('-180deg');
}

.Text_303 {
    //styleName: Text_303;
    width: 88px;
    height: 24px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 32px;
}

.image2_303 {
    width: 186px;
    height: 96px;
    margin: 73px 100px 63px 84px;
}

.H4_2_303 {
    //styleName: H4_2_303;
    width: 158px;
    height: 32px;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0%;
    margin-left: 30px;
    margin-bottom: 15px;
    color: black;
}

.image3_303{
    width: 144px;
    height: 126px;
    margin: 58px 105px 48px 121px;
}
.H4_3_303{
        //styleName: H4_3_303;
        width: 175px;
        height: 32px;
        font-family: 'DM Serif Display', serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 0%;
        margin-left: 30px;
        margin-bottom: 15px;
        color: black;
}

//footer Styling
footer{
    background-color: rgb(245,246,252);
    height: 400px;
    width: 100%;
    font-family: "DM-sans";



    .soc{
        display: flex;
        gap:13px;
    }
    .container{
        padding-top: 79px;
        display: flex;
        height:320px;
        width:100%;
        
    }


     .lastline{
        background-color: rgb(245,246,252);
        height:80px;
        width:100%;
        // border:1px solid brown;
        display: flex;
        font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
color: var(--text-black-50, rgba(0, 0, 0, 0.50));

        #leftline{
            margin-top:27px;
            margin-left: 135px;
            margin-bottom: 29px;
        }
        #rightline{
            margin-right: 135px;
            margin-top:27px ;
            margin-left:787px;
            
        }
    

     }



    .soc{
        margin-top: 18px;
    }
    .footer-col{
        flex-grow: 1;
    }


    .logos{
        flex-basis: 33.32%;
        margin-left: 135px;
        margin-top: 20px;
       
        .log{
            height: 32px;
            width: 62px;
        }
        .des{
            height: 79px;
            width: 270px;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

    }

    .causae{
        flex-basis: 16.66%;

    }
     
    .aperiri{
        flex-basis: 16.66%;
    }

    .post{
        flex-basis: 33.32%;
    }


    a{
        text-decoration: none;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));;
    }
   
    .ti{
        font-weight: 700;
    }
    .post{
        display: flex;
        flex-direction: column;
        gap:39px;
    }

.picpost{
    display:flex;
    gap:30px;
}

.des{
    font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
color: var(--text-black-50, rgba(0, 0, 0, 0.50));
}

.desc{
    height: 48px;
    width: 270px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
    font-family: "DM Sans";
}
.date{
    font-family: "DM Sans";
    font-size: 12px;
    
    font-weight: 700;
    line-height: 24px;
}
}


